#about {
   background: #01072e;
   padding-top: 160px;
   padding-bottom: 60px;
   height: 700px;
	min-height: 500px;
	width: 100%;
}
 
#about h2 {
   font: 24px/30px 'opensans-bold', sans-serif;
   color: #fff;
   margin-bottom: 12px;
   letter-spacing:2px;
}

#about p {
   font-size:18px;
   line-height: 30px;
   color: rgb(228, 225, 225);
   letter-spacing:2px;
}

#about .profile-pic {
   width: 180px;
   height: 180px;
   padding:10px;
   margin:20px;
   border-radius:15%;
}
 

#about .btn-custom {
   width: 300px;
   margin-top: 20px;
   background-color: aqua;
}

#about .contact-details{
      text-align: left;
      padding-left:30px;
}

#about .download{
   text-align: center;
}
