#skills {
    background: #f5f6f8;
    padding-top: 96px;
    padding-bottom: 66px;
    height: 700px;
     min-height: 500px;
     width: 100%;
 }

#skills h2 {
	font: 15px 'opensans-bold', sans-serif;
	color: #aca5a5;
	letter-spacing: 2px;
	font-weight: normal;
    margin-top: 12px;
}
